py_env
.vscode
temp
.venv
downloaded_files
chromedriver.exe
stop_words.txt
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
cookies.txt
job_search_results/
*.csv
*.html
google-chrome-stable_current_amd64.deb
# API Keys and Secrets
*.env
.env
.env.local
*.key
*secret*
*api*key*